@import 'https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css';
@import 'https://cdn.jsdelivr.net/npm/daisyui@1.14.0/dist/full.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Global Styles
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

// Content Styles
.content {
  padding: 2rem;
}
