@import 'https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css';
@import 'https://cdn.jsdelivr.net/npm/daisyui@1.14.0/dist/full.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

//make sure the main will always fill the space
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

:root {
  --navbar-padding: 1rem
}

body, html {
  height: 100%;
}

// Content Styles
main {
  margin-top: 4rem;
  padding: 1rem;
}

.table td, .table th {
  padding: 1rem 0 1rem 0;
}

.page{
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1rem;
}

.toast-info {
  position: fixed;
  background-color: #38a169;
  font-size: 1.25rem;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  left: 1rem;
  z-index: 20;
}

.toast-error {
  position: fixed;
  background-color: red;
  font-size: 1.25rem;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  left: 1rem;
  z-index: 50;
}
