.gradient-anime {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #c6ffdd 0%, #fbd786 29%, #fffbd5 67%, #f7797d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  background-clip: text;
  color: #fff;
  animation: text-clip 4s linear infinite;
}

@keyframes text-clip {
  to {
    background-position: 200% center;
  }
}
/*remove the interruption of margin*/
* {
  box-sizing: border-box;
}

/*when click the archer, scroll to the center*/
html {
  scroll-behavior: smooth;
  font-size: 1.2rem !important;
}

body {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 1.2rem !important;
}

h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

/*remove the interruption of default margin in heading*/
h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
  /*change the color*/
}
a:hover {
  text-decoration: underline;
  color: orangered;
}

.wrapper {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}

.border {
  border: 0.5px double white;
  border-radius: 12px;
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.transition {
  transition: all 0.3s ease-in-out;
}

.button {
  height: 2.25rem;
  width: 5rem;
  color: white;
  border: 1.5px solid white;
  text-decoration: none;
  display: grid;
  place-items: center;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
}

.flash {
  overflow: hidden;
}
.flash:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: -2;
}
.flash:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  z-index: -1;
}
.flash:hover:before {
  width: 100%;
}

.page {
  padding: 4vh 4vw;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.m-card {
  padding: 2rem;
  background-image: linear-gradient(to right, #fbfbfc, #e5f0ff);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
}

form {
  display: grid;
  grid-gap: 2rem;
  /*input*/
}
form .input-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
form .button {
  width: 100%;
  height: 50px;
  font-size: 1.3rem;
  background-color: orangered;
  color: #fff;
  border: 0;
}
form .input-group {
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: baseline;
}
form .input-group .error-msg {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 0.7rem;
  color: red;
}
form .input-label {
  color: #212121;
  transition: 0.25s ease;
}
form .input-field {
  width: 80%;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #eee;
}
form .input-field:focus, form .input-field:valid {
  outline: 0;
  border-bottom-color: orangered;
}

@media screen and (max-width: 767px) {
  /*smaller font size for title*/
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .wrapper {
    background-image: url("../images/m-bg.webp");
  }
  html {
    font-size: 1rem !important;
  }
}

/*# sourceMappingURL=base.css.map */
