@import "color";

h2 {
  font-size: 2rem;
}

.club {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.club-intro {
  display: block;

  .intro-header {
    background-image: url("../images/club/club.webp");
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
  }

  .intro-text {
    padding: 1rem 1rem;
  }

  ul {
    opacity: 0;
    display: none;
  }

  &:hover {
    .intro-header {
      height: 50%;
      background-position: top;
      @media screen and (max-width: 767px) {
        height: 0;

      }
    }

    ul {
      opacity: 1;
      display: block;
    }
  }
}

.club-reg {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
}

.card {
  height: 100%;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
  }

  /*input*/
  .input-label {
    color: #212121;
    transition: 0.25s ease;
  }

  .input-field {
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #eee;

    &:focus,
    &:valid {
      outline: 0;
      border-bottom-color: $primary-color;
    }
  }

  /*button*/
  .action {
    grid-column: 1/3;
  }

  .button {
    width: 100%;
    height: 50px;
    font-size: 1.3rem;
    background-color: $primary-color;
    color: #fff;
    border: 0;
  }

  /*info*/
  .card-info {
    text-align: center;
    color: #000;

    a {
      display: block;
      color: $primary-color;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 767px) {
  /*smaller font size for title*/
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .club {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .card {
    height: 100%;
    width: 100%;
  }
}

