$dark-primary-color: #616161;
$light-primary-color: #F5F5F5;
$primary-color: orangered;
$text-icon-color: #ffffff;
$accent-color: #9E9E9E;
$primary-text: #212121;
$second-text: #757575;
$divider-color: #BDBDBD;
