h1 {
  font-size: 10rem !important;
  font-family: Caveat, Oswald, Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 3rem !important;
}

.intro {
  width: 100vw;
  height: 100vh;
  padding: 5vh 5vw;
  place-items: unset;
  text-align: center;
  color: white;
}

@media screen and (max-width: 767px) {
  /*smaller font size for title*/
  h1 {
    font-size: 3rem !important;
  }

  h2 {
    font-size: 1.5rem !important;
  }

  .wrapper {
    background-image: url("../images/m-bg.webp");
  }

  html {
    font-size: 1rem !important;
  }
}

