h1 {
  font-size: 10rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  padding: 0 1rem;
}


/*cats*/
.home-cats-container {
  background-color: #ffffff;
  grid-template-rows: 1fr 1fr 6fr;
  place-items: center;
}

.home-cats-container .home-cat-card-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;
}

.home-cats-container .home-cat-card {
  width: 20vw;
  height: 60vh;
  background-size: cover;
  overflow: hidden;
  color: #ffffff;
  position: relative;
  display: inline-block;
  /*make the text on the image*/
}


.home-cats-container .home-cat-card img {
  height: 100%;
  width: 100%;
  filter: grayscale(0.3);
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.home-cats-container .home-cat-card:hover img {
  transform: scale(1.1);
  filter: grayscale(0);
}

.home-cats-container .home-cat-card .home-card-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  display: grid;
  grid-template-rows: 10fr 10fr 2fr;
  place-items: baseline center;
  padding: 1rem;
}

.home-cat-title {
  background: rgba(0, 0, 0, 0.5);
  width: 60%;
  border-radius: 10px;
}


.home-cats-container .card-line {
  height: 1px;
  width: 50%;
  background: #ffffff;
}

/*menu*/
.home-menu-container {
  grid-template-columns: 3fr 2fr 2fr;
  grid-gap: 1rem;
  background: #cccccc;
  place-items: center;
}


.home-menu-container .menu-img-container {
  display: grid;
  width: 100%;
  height: 100%;
  color: #ffffff;
  grid-template-rows: 5fr 2fr;
  place-items: center;
  filter: sepia(0.2);
}

.home-menu-container h3 {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.home-menu-container .menu-img-container:hover {
  filter: sepia(0);
}

#menu-intro {
  grid-row: 2/3;
}

#coffee {
  grid-column: 2/3;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../images/home/coffee.jpg");
  background-size: cover;
}


#donut {
  width: 100%;

  height: 100%;
  background: url("../images/home/donut.jpg");
  background-size: cover;
}

#beverage {
  width: 100%;
  height: 100%;
  background: url("../images/home/beverage.jpg");
  background-size: cover;
}

/*about us*/
.home-us-container {
  place-items: center;
}

.home-us-container .home-us-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background: #fff;
  width: 90vw;
  height: 70vh;
  border-radius: 10px;
  padding: 5vw;
}

.home-us-container .home-us-wrapper #us-img {
  grid-row: 1/3;
  grid-column: 2/3;
  overflow: hidden;
}

.home-us-container .home-us-wrapper #us-img img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  /*smaller font size for title*/
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  /*cats have fixed width and height in mobile*/
  .home-cats-container .home-cat-card {
    width: 44vw;
    height: 30vh;
  }


  /*cat card two column in mobile*/
  .home-cats-container .home-cat-card-group {
    grid-template-columns: repeat(2, 1fr);
  }

  /*menu 1 column in mobile*/
  .home-menu-container {
    grid-template-columns: 1fr;
  }

  /*menu img have the same height in mobile*/
  .home-menu-container .menu-img-container {
    height: 15vh;
  }

  /*make them normal order*/
  #menu-intro, #coffee, #donut, #beverage {
    grid-column: unset;
    grid-row: unset;
  }

  /*us 1 column*/
  .home-us-container .home-us-wrapper {
    grid-template-columns: 1fr;
  }


  .home-us-container .home-us-wrapper #us-img {
    grid-row: unset;
    grid-column: unset;
    overflow: hidden;
  }

}
