@media screen and (max-width: 767px) {

  .wrapper {
    background-image: url("../images/m-bg.webp");
  }

  nav {
    grid-template-columns: 5fr 1fr;

    a{
      font-size: 1rem;
    }

    .web{
      display: none;
    }
  }

  footer {
    text-align: center;
    grid-template-columns: 1fr;

    .contact-us {
      text-align: center;
    }

    .copyright {
      grid-row: 3/4;
    }
  }
}
